* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.tic-tac {
  width: 55%;
  height: 60%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.btn {
  width: 20%;
  height: 30px;
  border: none;
  background-color: lightgray;

  cursor: pointer;
}

.game-board-class {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  flex-basis: 33%;
  height: 150px;
  font-size: 8em;
  text-align: center;
}

.top {
  border-bottom: 3px solid gray;
}
.middle {
  border-bottom: 3px solid gray;
}

.left {
  border-right: 3px solid gray;
}

.right {
  border-left: 3px solid gray;
}

.scorecards {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scorecards span,
h1 {
  font-size: 30px;
  text-align: center;
}

/* Media queries */

@media screen and (max-width: 1100px) {
  .tic-tac {
    width: 75%;
    height: 80%;
  }
  .tile {
    flex-basis: 30%;
    height: 120px;
  }
  .scorecards span,
  h1 {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 840px) {
  .tic-tac {
    width: 95%;
    height: 80%;
  }
  .scorecards span,
  h1 {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .tic-tac {
    width: 95%;
  }
  .tile {
    flex-basis: 30%;
    height: 90px;
  }
}
